
<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        <h1>About Page {{pageName}}</h1>
        <p> This is Paragraph 1</p>
    </body>
    <footer>
        <p>Copyright Year {{currentYear}}</p>
    </footer>

</html>